<center><h1>Apparel</h1></center>
<div class="container">
    <div class="row">
        <div class="col-md-3 side-panel">
            <br>
            <p><b>Refine By:</b></p>
            <hr>
            <h4>Type</h4>
            <div class="list-group">
                <a href="#" class="list-group-item">Warrior</a>
                <a href="#" class="list-group-item">Range</a>
                <a href="#" class="list-group-item">Mage</a>
            </div>
            <h4>Price</h4>

            <h4>Armour</h4>
            <!--TODO jquery value slider-->
            <h4>Rating</h4>
            <!--TODO angular rating filter-->
        </div>
        <div class="col-md-9">

            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="apparel in vm.apparelList">
                <a ng-href="#/apparel/{{apparel.ref}}">
                    <div class="thumbnail">
                        <img ng-src="{{apparel.imageUrl}}" alt="" style="height: 250px; width: 320px">
                        <div class="caption">
                            <h4 class="pull-right">{{apparel.price | currency :"£" }}</h4>
                            <h4>{{apparel.name}}</h4>
                            <p>{{apparel.desc}}</p>
                            <em class="pull-right">Armour: {{apparel.armour}}</em>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>